                                /*initialisation*/

:root {
  --principal-color: #002533;
  --secondary-color: #f7efe7;
  --tertiary-color: #f2621f;
  --bleupale-color: #d1dbe4;
  --border-radius: 40px;
}

* {
  margin: 0;
  padding: 0;
}

                                    /*HEADER*/

header {
  background-color: var(--principal-color);
  border-radius: 0px 0px 15px 15px;
}

.principal-title {
  background-image: url(/assets-julien/masashi-wakui-12.jpg);
  background-size: cover;
  font-family: "Playfair Display", serif;
  text-align: left;
  font-size: 4rem;
  color: #f7efe7;
  text-shadow: 3px 4px #f2621f;
  padding: 15rem;
  background-position: center;
  border-radius: 0px 0px 15px 15px;
}

body {
  background-color: var(--secondary-color);
  margin: 0rem 4rem;
}

                                    /*page yacine*/

.principal-title-yacine {
  background-image: url(/assets-yacine/pexels-cats-coming-1907229.jpg);
  background-size: cover;
  font-family: "Playfair Display", serif;
  text-align: left;
  font-size: 4rem;
  color: #f7efe7;
  text-shadow: 3px 4px #f2621f;
  padding: 15rem;
  background-position: center;
  border-radius: 0px 0px 15px 15px;
}

.texte-yacine {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45rem 30rem 45rem;
  margin-right: 30px;
  margin-left: 30px;
}

.contenu-yacine {
  font-family: "Lexend";
  font-size: xx-large;
  grid-column: 2;
  margin: 3%;
  background: rgb(247, 239, 231);
  background: linear-gradient(90deg, rgba(247, 239, 231, 1) 90%, #f2621f 45%);
}

.image-sushi {
  background-image: url(assets-yacine/pexels-airam-datoon-9424914.jpg);
  grid-row: 2;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  margin: 3%;
}

<<<<<<< HEAD
/*fin page yacine*/
=======

                                    /*fin page yacine*/
>>>>>>> f58c84f50201b71ed9d13d6dced397c5336a9d33

                                    /*Page Daniel*/

h1.principal-title-daniel {
  background-image: url(/assets-daniel/jaeyoon-jeong-haTl7gFp5KQ-unsplash.jpg);
  background-size: cover;
  font-family: "Playfair Display", serif;
  text-align: left;
  font-size: 4rem;
  color: #f7efe7;
  text-shadow: 3px 4px #f2621f;
  padding: 15rem;
  background-position: center;
  border-radius: 0px 0px 15px 15px;
}

.texte-daniel {
  display: grid;
  font-family: "Lexend", sans-serif;
  font-size: 1.1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.9rem;
  grid-template-areas: " 1, 2 ";
}

.texte-daniel p {
  display: grid;
  grid-area: 1;
  padding: 2rem;
  text-align: center;
  margin-top: 10%;
}

div.grid-daniel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-gap: 0.9rem;
  grid-template-areas:
    " 1 2 "
    " 3 ";
}

.img1 {
  grid-area: 1;
  margin: 1%;
  background: url(/assets-daniel/pexels-cottonbro-studio-4828253.jpg);
  background-size: cover;
  background-position: top;
  padding: 11rem;
  gap: 1rem;
  border-radius: 15px;
}

.img2 {
  grid-area: 2;
  background: url(/assets-daniel/kelly-sikkema-YlhAolPcwQ4-unsplash.jpg);
  padding: 11rem;
  margin: 1%;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.parag2 {
  grid-area: 2;
}

.cards-daniel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

.card1 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background-image: url(/assets-daniel/pure-julia-B8y6uvTnEvU-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #aaaaaa;
  background-size: cover;
  background-position: center;
}

.card2 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/stefan-lehner-XfkBIABG3VA-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}

.card3 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/pexels-cottonbro-studio-4828248.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}

.card4 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/shelly-pence-rAYWKUJOXWk-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}

.card5 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/taylor-r-clkI9_xcuis-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}

<<<<<<< HEAD
/*page StephV*/
=======

                                    /*page StephV*/
>>>>>>> f58c84f50201b71ed9d13d6dced397c5336a9d33

/*section {
    display: grid;
    grid-template-columns: repeat(auto-fil, 100%);
    text-align: left;
    gap: 10px;
    border-radius: var(--border-radius);

}*/

.principal-title-stephV1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: #f7efe7;
  text-shadow: 3px 4px #f2621f;
}

.principal-title-stephV2 {
  font-family: "Lexend", sans-serif;
  font-size: 2rem;
  color: #f7efe7;
}

.imageprincipalstephV {
  background-image: url(assets-stephV/photofrancevuedelespace.jpg);
  background-size: cover;
  background-position: center;
}

.paragrapheprincipalstephV {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  color: #f7efe7;
}

.article1 {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  color: black;
}

h3 {
  font-weight: bold;
}

.imagearticle1stephV {
  background-image: url(assets-stephV/CYCLO_PIERRO.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.article2 {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  color: black;
}

.imagearticle2stephV {
  background-image: url(assets-stephV/ledrivetoutnu.png);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.article3 {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  color: black;
}

.imagearticle3stephV {
  background-image: url(assets-stephV/ledrivetoutnu.png);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.article4 {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  color: black;
}

.imagearticle4stephV {
  background-image: url(assets-stephV/KOOZUMAIN.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

/*fin de page StephV*/

                                        /*page StephM*/

.principal-title-stephm {
  background-image: url(/assets-stephM/Plage_couché_de_soleil.jpg);
  background-size: cover;
  font-family: "Playfair Display", serif;
  text-align: left;
  font-size: 4rem;
  color: #f7efe7;
  text-shadow: 3px 4px #f2621f;
  padding: 15rem;
  background-position: center;
  border-radius: 0px 0px 15px 15px;
}

.texte-stephm {
  display: grid;
  grid-template-columns: 49% 40rem;
  grid-template-rows: 49% 49%;
  font-family: "Lexend";
  font-size: large;
  grid-column: 2;
}

.p1 {
  display: grid;
  grid-area: 1;
}

<<<<<<< HEAD
/*Fin page StepM*/
=======

                                    /*Fin page StepM*/
>>>>>>> f58c84f50201b71ed9d13d6dced397c5336a9d33

                                        /*BODY*/
=======
/* menu*/

nav {
  width: 100%;
  height: 90px;
  background-color: var(--principal-color);
  border-bottom: 0.5px solid var(--tertiary-color);
  position: sticky;
  top: 0;
  bottom: 0;
}

<<<<<<< HEAD
.list-general {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  list-style: none;
  height: 100%;
  line-height: 90px;
  font-size: 22px;
=======
li a {
    color: #f7efe7;
    text-decoration: none;
    text-shadow: 1px 2px #f2621f;
    padding: 0rem 3rem;
    border-radius: 5px;
    border: 0%;
>>>>>>> f58c84f50201b71ed9d13d6dced397c5336a9d33
}

.listeN {
  cursor: pointer;
  margin: 0 20px;
  flex-shrink: 0;
}

<<<<<<< HEAD
.listeN span {
  font-size: 15px;
  color: var(--tertiary-color);
}

/*Sous menu*/

.sousMenu {
  position: relative;
  top: -1px;
  display: none;
}

.sousListe {
  list-style: none;
  text-align: center;
  padding: 0px;
  background-color: var(--principal-color);
  border-bottom: 0.5px solid var(--tertiary-color);
}

.sousListe > a {
  background-color: #f2621f;
}

.sousListe:hover {
  background-color: var(--secondary-color);
  height: 100%;
  line-height: 90px;
}

.listeN:hover > ul {
  display: block;
}

/*Fin menu et sous menu*/

/*BODY*/
=======
.sousMenu {
    width: 100%;
    text-align: left;
    /*Couleur pour tester*/
    background-color: #f2621f;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}

.sousMenu>li>a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

/*A adapter a notre code couleur !!*/

@keyframes rotationFleche {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.menuDeroulant:hover>a:after {
    animation: rotatonFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-top: 3px solid #f7efe7;
    }

    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    100% {
        max-width: 50em;
        border-top: 3px solid #f2621f;
        box-shadow: 0px 3px 3px 1px rgba 0, 0, 0, 0.3;
    }
}

.menuDeroulant>.sousMenu {
    animation: apparitionSousMenu 1s forwards;
}

nav>ul>li:hover>a {
    color: #f7efe7;
}

.sousMenu>li:hover {
    background-color: #002533;
}

.sousMenu>li:hover>a {
    color: #f2621f;
}

    /*Fin sous menu*/


    /*BODY*/
>>>>>>> 0e810db8fc2c98ab815effa138dee48ba3e3f30b
>>>>>>> f58c84f50201b71ed9d13d6dced397c5336a9d33

body {
  background-color: var(--secondary-color);
  margin: 0rem 0rem;
}

.texte,
div {
  display: flex;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--principal-color);
  font-family: "Lexend", sans-serif;
}

.texte p {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.texte div {
  padding: 1rem;
}

<<<<<<< HEAD
/*Contact*/
=======
                                /*Contact*/
>>>>>>> f58c84f50201b71ed9d13d6dced397c5336a9d33

button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--principal-color);
  color: var(--tertiary-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}

<<<<<<< HEAD
/*rate*/
=======

                                        /*rate*/
>>>>>>> f58c84f50201b71ed9d13d6dced397c5336a9d33

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: inherit;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}

<<<<<<< HEAD
/*Fin rate*/

/*FOOTER*/
=======

                                            /*Fin rate*/


                                            /*FOOTER*/
>>>>>>> f58c84f50201b71ed9d13d6dced397c5336a9d33

footer {
  background-color: var(--principal-color);
  bottom: 0;
  width: 100%;
}
