/*initialisation*/

:root {
  /* Couleurs */
  --principal-color: #002533;
  --secondary-color: #f7efe7;
  --tertiary-color: #f2621f;
  --bleupale-color: #d1dbe4;
  /* Titres et texte */
  --h2-size-desktop: 64px;
  --h2-size-mobile: 48px;
  --h3-size-desktop: 48px;
  --h3-size-mobile: 36px;
  --h4-size-desktop: 36px;
  --h4-size-mobile: 24px;
  --p-size-desktop: 16px;
  --p-size-mobile: 12px;
  --p-button: 20px;
  /* Margin et padding */
  --margin-x-desktop: 10vw;
  --margin-y-desktop: 5vh;
  --padding-y-desktop: 5vh;
  --padding-x-desktop: 5vw;
  --margin-x-mobile: 5vw;
  --margin-y-mobile: 5vh;
  --padding-y-mobile: 2vh;
  --padding-x-mobile: 2vw;
  --row-gap: 30px;
  --column-gap: 30px;
  /* Effets */
  --border-radius: 40px;
  --img-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  --transition-time: 400ms;
}

* {
  margin: 0;
  padding: 0;
}

/*HEADER*/

body {
  background-color: var(--secondary-color);
  margin: 0;
}

/*page yacine*/

.texte-yacine {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45rem 30rem 45rem;
  margin-right: 30px;
  margin-left: 30px;
}

.contenu-yacine {
  font-family: "Lexend";
  font-size: xx-large;
  grid-column: 2;
  margin: 3%;
  background: rgb(247, 239, 231);
  background: linear-gradient(90deg, rgba(247, 239, 231, 1) 90%, #f2621f 45%);
}

.image-sushi {
  background-image: url(assets-yacine/pexels-airam-datoon-9424914.jpg);
  grid-row: 2;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  margin: 3%;
}


/*fin page yacine*/

/*Page Daniel*/

.texte-daniel {
  display: grid;
  font-family: "Lexend", sans-serif;
  font-size: 1.1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.9rem;
  grid-template-areas: " 1, 2 ";
}

.texte-daniel p {
  display: grid;
  grid-area: 1;
  padding: 2rem;
  text-align: center;
  margin-top: 10%;
}

div.grid-daniel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-gap: 0.9rem;
  grid-template-areas:
    " 1 2 "
    " 3 ";
}

.img1 {
  grid-area: 1;
  margin: 1%;
  background: url(/assets-daniel/pexels-cottonbro-studio-4828253.jpg);
  background-size: cover;
  background-position: top;
  padding: 11rem;
  gap: 1rem;
  border-radius: 15px;
}

.img2 {
  grid-area: 2;
  background: url(/assets-daniel/kelly-sikkema-YlhAolPcwQ4-unsplash.jpg);
  padding: 11rem;
  margin: 1%;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.parag2 {
  grid-area: 2;
}

.cards-daniel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

.card1 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background-image: url(/assets-daniel/pure-julia-B8y6uvTnEvU-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #aaaaaa;
  background-size: cover;
  background-position: center;
}

.card2 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/stefan-lehner-XfkBIABG3VA-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}

.card3 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/pexels-cottonbro-studio-4828248.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}

.card4 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/shelly-pence-rAYWKUJOXWk-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}

.card5 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/taylor-r-clkI9_xcuis-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}



/*page StephV*/

.pagestephV {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  text-align: left;
}

.startstephV {
  background-image: url(assets-stephV/nature.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 15px 15px;
  padding: 20rem;
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  color: #f7efe7;
  text-shadow: 3px 4px #f2621f;
}

.articl1stephV {
  font-family: 'Lexend', sans-serif;
  color: black;
  font-size: 2rem;
  background-image: url(assets-stephV/coucherdesoleil.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  border-radius: 0px 0px 15px 15px;
  padding: 15rem;
}

.h2stephV {
  font-size: 3rem;
  font-weight: bold;
}

.article2stephV {
  font-family: 'Lexend', sans-serif;
  font-size: 2rem;
  color: black;
  background-image: url(assets-stephV/CYCLO_PIERRO.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  border-radius: 0px 0px 15px 15px;
  padding: 15rem;
  text-align: left;
}


.article3stephV {
  font-family: 'Lexend', sans-serif;
  font-size: 2rem;
  color: black;
  background-image: url(assets-stephV/LE_DRIVE_TOUT_NU.png);
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  border-radius: 0px 0px 15px 15px;
  padding: 15rem;
  text-align: left;
}

.article4stephV {
  font-family: 'Lexend', sans-serif;
  font-size: 2rem;
  color: black;
  background-image: url(assets-stephV/EROBOT_LECLERC_LIBOURNE.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  border-radius: 0px 0px 15px 15px;
  padding: 15rem;
  text-align: left;
}

.article5stephV {
  font-family: 'Lexend', sans-serif;
  font-size: 2rem;
  color: black;
  background-image: url(assets-stephV/KOOZUMAIN.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  border-radius: 0px 0px 15px 15px;
  padding: 15rem;
  text-align: left;
}


/*fin de page StephV*/
/*fin de page StephV*/




/*page StephM*/

.texte-stephm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-family: 'Lexend', sans-serif;
  font-size: 1, 2rem;
  grid-gap: .5rem;
  grid-template-areas:
    "1 2"
    "3 4"
    "5 6"
    "7 8";
  text-align: center;
  padding: 3rem;

}

.texte-stephm p1 {
  grid-area: 1;
  font-size: 1.1rem;
  align-self: center;
  justify-self: center;
  width: 70%;
  padding: 2rem;
}

.img1stephm {
  grid-area: 1;
  background: url(/assets-stephM/Baie-des-Sables-d-Olonne.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  align-self: center;
  justify-self: center;
  padding: 10rem 17rem;
}

.img2stephm {
  grid-area: 2;
  background: url(/assets-stephM/images.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  align-self: center;
  justify-self: center;
  padding: 10rem 17rem;
}

.texte-stephm p2 {
  font-size: 1.1rem;
  align-self: center;
  justify-self: center;
  width: 70%;
  padding: 2rem;
}

.texte-stephm p3 {
  grid-area: 3;
  font-size: 1.1rem;
  align-self: center;
  justify-self: center;
  width: 70%;
  padding: 2rem;
}

.img3stephm {
  grid-area: 3;
  background: url(/assets-stephM/Plage.webp);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  align-self: center;
  justify-self: center;
  padding: 10rem 17rem;
}

.img4stephm {
  grid-area: 4;
  background: url(/assets-stephM/image.png);
  background-size: cover;
  background-position: top;
  border-radius: 15px;
  align-self: center;
  justify-self: center;
  padding: 10rem 17rem;
}

.texte-stephm p4 {
  font-size: 1.1rem;
  align-self: center;
  justify-self: center;
  width: 70%;
  padding: 2rem;
}

.cards-stephm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

.card1 {
  width: 20rem;
  height: 14rem;
  border-radius: 30px;
  background-image: url(/assets-stephM/download.jpg);
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #aaaaaa;
  background-size: cover;
  background-position: center;
}

.card2 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background-image: url(/assets-stephM/Forêt.webp);
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #aaaaaa;
  background-size: cover;
  background-position: center;
}

.card3 {
  width: 20rem;
  height: 14rem;
  border-radius: 30px;
  background-image: url(/assets-stephM/download\ \(1\).jpg);
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #aaaaaa;
  background-size: cover;
  background-position: center;
}

.card4 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background-image: url(/assets-stephM/istockphoto-1172051173-612x612.jpg);
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #aaaaaa;
  background-size: cover;
  background-position: center;
}

.presentation-stephm {
  display: grid;
  grid-template-columns: 1.5fr .5fr;
  font-family: 'Lexend', sans-serif;
  font-size: 1.2rem;
  align-items: center;
  justify-items: center;
  margin: 2rem;
}

.card5 {
  background: url(/assets-stephM/carte.jpg);
  background-size: cover;
  background-position: right;
  border-radius: 15px;
  align-self: center;
  justify-self: center;
  width: 10rem;
  height: 10rem;
}

/*Fin page StepM*/

/* Page Julien PRIVAT */



/* Fin de page Julien PRIVAT */

/*BODY*/

body {
  background-color: var(--secondary-color);
  margin: 0rem 0rem;
}

.texte,
div {
  color: var(--principal-color);
  font-family: "Lexend", sans-serif;
}

.texte p {
  margin-left: 2rem;
  font-size: 1.5rem;
}

/*Contact*/

button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--principal-color);
  color: var(--tertiary-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}


/*rate*/

.rating:not(:checked)>input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked)>label {
  float: inherit;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked)>label:before {
  content: "★";
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
  color: #e58e09;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: #ff9e0b;
}

.rating>input:checked~label {
  color: #ffa723;
}


/*Fin rate*/


/*FOOTER*/

footer {
  background-color: var(--principal-color);
  bottom: 0;
  width: 100%;
}