                                /*initialisation*/

:root {
  --principal-color: #002533;
  --secondary-color: #f7efe7;
  --tertiary-color: #f2621f;
  --bleupale-color: #d1dbe4;
  --border-radius: 40px;
}

                                    /*HEADER*/
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Début navbar*/
nav {
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 37, 51, 0.5);
    backdrop-filter: blur(20px);
    position: fixed;
    top:0;
    border-radius: 0px 0px 10px 10px;
    padding: 1rem;
    height: 4rem;
}

.logo {
    height: 3.5rem;
}

headerG {
    background: url(/assets-daniel/jaeyoon-jeong-haTl7gFp5KQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 10%;
    border-radius: 0px 0px 15px 15px;
}

header nav ul li {
    list-style: none;
    padding: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: #f7efe7;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.headerG h1 {
    font-family: "Playfair Display", serif;
    text-align: left;
    font-size: 4rem;
    color: #f7efe7;
    text-shadow: 3px 4px #f2621f;
    padding: 5rem;
}

.sousMenu {
    display: none;
    position: absolute;
    top: 4rem;
    background-color: rgba(0, 37, 51, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 10px 10px;
    padding: 0;
}

.listeN:hover > ul {
    display: block;
}

.listeN {
    cursor: pointer;
    margin: 0 1.2rem;
}
/*Fin navbar*/

body {
  background-color: var(--secondary-color);
  margin: 0rem 4rem;
}

                                    /*page yacine*/

.principal-title-yacine {
  background-image: url(/assets-yacine/pexels-cats-coming-1907229.jpg);
  background-size: cover;
  font-family: "Playfair Display", serif;
  text-align: left;
  font-size: 4rem;
  color: #f7efe7;
  text-shadow: 3px 4px #f2621f;
  padding: 15rem;
  background-position: center;
  border-radius: 0px 0px 15px 15px;
}

.texte-yacine {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45rem 30rem 45rem;
  margin-right: 30px;
  margin-left: 30px;
}

.contenu-yacine {
  font-family: "Lexend";
  font-size: xx-large;
  grid-column: 2;
  margin: 3%;
  background: rgb(247, 239, 231);
  background: linear-gradient(90deg, rgba(247, 239, 231, 1) 90%, #f2621f 45%);
}

.image-sushi {
  background-image: url(assets-yacine/pexels-airam-datoon-9424914.jpg);
  grid-row: 2;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  margin: 3%;
}


                                    /*fin page yacine*/

                                    /*Page Daniel*/

h1.principal-title-daniel {
  background-image: url(/assets-daniel/jaeyoon-jeong-haTl7gFp5KQ-unsplash.jpg);
  background-size: cover;
  font-family: "Playfair Display", serif;
  text-align: left;
  font-size: 4rem;
  color: #f7efe7;
  text-shadow: 3px 4px #f2621f;
  padding: 15rem;
  background-position: center;
  border-radius: 0px 0px 15px 15px;
}

.texte-daniel {
  display: grid;
  font-family: "Lexend", sans-serif;
  font-size: 1.1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.9rem;
  grid-template-areas: " 1, 2 ";
}

.texte-daniel p {
  display: grid;
  grid-area: 1;
  padding: 2rem;
  text-align: center;
  margin-top: 10%;
}

div.grid-daniel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-gap: 0.9rem;
  grid-template-areas:
    " 1 2 "
    " 3 ";
}

.img1 {
  grid-area: 1;
  margin: 1%;
  background: url(/assets-daniel/pexels-cottonbro-studio-4828253.jpg);
  background-size: cover;
  background-position: top;
  padding: 11rem;
  gap: 1rem;
  border-radius: 15px;
}

.img2 {
  grid-area: 2;
  background: url(/assets-daniel/kelly-sikkema-YlhAolPcwQ4-unsplash.jpg);
  padding: 11rem;
  margin: 1%;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.parag2 {
  grid-area: 2;
}

.cards-daniel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

.card1 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background-image: url(/assets-daniel/pure-julia-B8y6uvTnEvU-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #aaaaaa;
  background-size: cover;
  background-position: center;
}

.card2 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/stefan-lehner-XfkBIABG3VA-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}

.card3 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/pexels-cottonbro-studio-4828248.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}

.card4 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/shelly-pence-rAYWKUJOXWk-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}

.card5 {
  width: 14rem;
  height: 20rem;
  border-radius: 30px;
  background: url(/assets-daniel/taylor-r-clkI9_xcuis-unsplash.jpg);
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background-size: cover;
  background-position: center;
}


                                    /*page StephV*/

/*section {
    display: grid;
    grid-template-columns: repeat(auto-fil, 100%);
    text-align: left;
    gap: 10px;
    border-radius: var(--border-radius);

}*/

.principal-title-stephV1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: #f7efe7;
  text-shadow: 3px 4px #f2621f;
}

.principal-title-stephV2 {
  font-family: "Lexend", sans-serif;
  font-size: 2rem;
  color: #f7efe7;
}

.imageprincipalstephV {
  background-image: url(assets-stephV/photofrancevuedelespace.jpg);
  background-size: cover;
  background-position: center;
}

.paragrapheprincipalstephV {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  color: #f7efe7;
}

.article1 {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  color: black;
}

h3 {
  font-weight: bold;
}

.imagearticle1stephV {
  background-image: url(assets-stephV/CYCLO_PIERRO.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.article2 {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  color: black;
}

.imagearticle2stephV {
  background-image: url(assets-stephV/ledrivetoutnu.png);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.article3 {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  color: black;
}

.imagearticle3stephV {
  background-image: url(assets-stephV/ledrivetoutnu.png);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.article4 {
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  color: black;
}

.imagearticle4stephV {
  background-image: url(assets-stephV/KOOZUMAIN.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

/*fin de page StephV*/

                                        /*page StephM*/
.header-stephm {
  background: url(/assets-stephM/couché-de-soleil-plage.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 10%;
  /*border-radius: 0px 0px 15px 15px;*/
}

.header-stephm h1 {
  font-family: "Playfair Display", serif;
  text-align: left;
  font-size: 4rem;
  color: #f7efe7;
  text-shadow: 3px 4px #f2621f;
  padding: 5rem;
}


.texte-stephm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-family: 'Lexend', sans-serif;
    font-size: 1,2rem;
    grid-gap: .5rem;
    grid-template-areas: 
    "1 2"
    "3 4"
    "5 6"
    "7 8";
    text-align: center;
    padding: 3rem;

}

.texte-stephm p1 {
    grid-area: 1;
    font-size: 1.1rem;
    align-self: center;
    justify-self: center;
    width: 70%;
    padding: 2rem;
}

.img1stephm {
    grid-area: 1;
    background: url(/assets-stephM/Baie-des-Sables-d-Olonne.jpg);
    background-size: cover;
    background-position:center;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
    padding: 10rem 17rem;
}

.img2stephm {
    grid-area: 2;
    background: url(/assets-stephM/images.jpg);
    background-size: cover;
    background-position:center;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
    padding: 10rem 17rem;
}

.texte-stephm p2 {
    font-size: 1.1rem;
    align-self: center;
    justify-self: center;
    width: 70%;
    padding: 2rem;
}

.texte-stephm p3 {
    grid-area: 3;
    font-size: 1.1rem;
    align-self: center;
    justify-self: center;
    width: 70%;
    padding: 2rem;
}

.img3stephm {
    grid-area: 3;
    background: url(/assets-stephM/Plage.webp);
    background-size: cover;
    background-position:center;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
    padding: 10rem 17rem;
}

.img4stephm {
    grid-area: 4;
    background: url(/assets-stephM/image.png);
    background-size: cover;
    background-position:top;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
    padding: 10rem 17rem;
}

.texte-stephm p4 {
    font-size: 1.1rem;
    align-self: center;
    justify-self: center;
    width: 70%;
    padding: 2rem;
}

.cards-stephm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
}

.card1 {
    width: 20rem;
    height: 14rem;
    border-radius: 30px;
    background-image: url(/assets-stephM/download.jpg);
    box-shadow:15px 15px 30px #bebebe,
    -15px -15px 30px #aaaaaa;
    background-size: cover;
    background-position: center;
}

.card2 {
    width: 14rem;
    height: 20rem;
    border-radius: 30px;
    background-image: url(/assets-stephM/Forêt.webp);
    box-shadow:15px 15px 30px #bebebe,
    -15px -15px 30px #aaaaaa;
    background-size: cover;
    background-position: center;
}

.card3 {
    width: 20rem;
    height: 14rem;
    border-radius: 30px;
    background-image: url(/assets-stephM/download\ \(1\).jpg);
    box-shadow:15px 15px 30px #bebebe,
    -15px -15px 30px #aaaaaa;
    background-size: cover;
    background-position: center;
}

.card4 {
    width: 14rem;
    height: 20rem;
    border-radius: 30px;
    background-image: url(/assets-stephM/istockphoto-1172051173-612x612.jpg);
    box-shadow:15px 15px 30px #bebebe,
    -15px -15px 30px #aaaaaa;
    background-size: cover;
    background-position: center;
}

.presentation-stephm {
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    font-family: 'Lexend', sans-serif;
    font-size: 1.2rem;
    align-items: center;
    justify-items: center;
    margin: 2rem;
    margin-left: 4rem;
}

.card5 {
    background: url(/assets-stephM/carte.jpg);
    background-size: cover;
    background-position:right;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
    width: 10rem;
    height: 10rem;
}
/* MEDIA QUERIES*/

@media screen and (max-width: 960px) {
  .header-stephm h1{
    /*width: auto;*/
    font-size: 3rem;
  }
  .texte-stephm{
    /*width: auto;*/
    display: flex;
    /*grid-template-columns: none;
    grid-template-rows: auto;
    grid-template-areas: none;*/
    flex-wrap: wrap;
    
  }
  .img1stephm .img2stephm .img3stephm .img4stephm{
    width: auto;
  }
    .cards-stephm{
    width: auto;
    padding: 0.5rem;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .presentation-stephm{
    grid-template-columns: none;
  }
  .card5{
    margin-top: 1.5rem;
  }
}

/*Fin page StepM*/

                                        /*BODY*/






/*BODY*/
/*>>>>>>> f58c84f50201b71ed9d13d6dced397c5336a9d33*/

body {
  background-color: var(--secondary-color);
  margin: 0rem 0rem;
}

.texte,
div {
  display: flex;
  padding: 1rem;
  /*background-color: var(--secondary-color);*/
  color: var(--principal-color);
  font-family: "Lexend", sans-serif;
}

.texte p {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.texte div {
  padding: 1rem;
}

                                /*Contact*/

button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--principal-color);
  color: var(--tertiary-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}


                                        /*rate*/

.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: inherit;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}


                                            /*Fin rate*/


                                            /*FOOTER*/

footer {
  background-color: var(--principal-color);
  bottom: 0;
  width: 100%;
}
